<html>
	
<head>

<link href="/css/style.css" type="text/css" rel="stylesheet" width=100% />

	<title>Chitter</title>

	<section class="image">
		<img>
		<h1><span>Chitter</span></h1>
	</section>

</head>

<body>

<section class="signing">
	<%= partial :welcome_sign_out %>
</section>
	

	<%= partial :errors %>
	<%= partial :notice %>

	<%= yield %>

</body>


<footer>
Made by @ynzc, student @makers_academy
</footer>

</html>