<html>
	
<head>
	<title>Chitter</title>
	<h1>Chitter</h1>
	<h3>(definitely not Twitter)</h3>
</head>

<body>

	<%= partial :welcome_sign_out %>
	<%= partial :errors %>
	<%= partial :notice %>

	<%= yield %>

</body>


<footer>
Made by @ynzc, student @makers_academy
</footer>

</html>