<h3>Peeps</h3>
<% Peep.each do |peep| %>
<!-- <template id='peeps'> -->
 <article class='peep'>
 	<header>
 		<img id='profile' src='/images/ycprofile.jpeg'>
 		<h1><%= peep.user.name %></h1>
 		<h2>@<%= peep.user.username %></h2>
 	</header>
 		<p id="content"><%= peep.content %></p>
 </article>
<!-- </template> -->

<% end %>