<div class="sign_in">
	<form action='/sign_in' method="post">
		<label>Username:  <input type="text" name="username"></label>
		<label>Password:  <input type="password" name="password"></label>
		<input type="submit" value="Sign In" name="Sign In">
	</form>
</div>