<form id='sign_up' action="/" method="POST">
<p>Sign Up</p>
	Email: <input type="text" name="email" value="<%= @user.email %>"><br>
	Name: <input type="text" name="name" value="<%= @user.name %>"><br>
	Username: <input type="text" name="username" value="<%= @user.username %>"><br>
	Password: <input type="password" name="password"><br>
	<input type="submit" value="Sign Up">
</form>
