<% if current_user %>
	<section class="user_info">
		Welcome <%= current_user.name %>
		<form action="/sign_out" method="post">
			<input type="submit" value="Sign Out" name="Sign Out">
		</form>
			<form action="/new_peep" method="post">
				<input type="text" name="content" value="<%= @peep.content %>">
				<input type="submit" value="Peep it!">
		</form>
	</section>

<% else %>
	<section class="sign_up">
		<%= partial :sign_up %>		
	</section>
	
<% end %>