<% if current_user %>
	Welcome <%= current_user.name %>
	<form action="/sign_out" method="post">
		<input type="submit" value="Sign Out" name="Sign Out">
	</form>
		<form action="/new_peep" method="post">
			<input type="text" name="content" value="<%= @peep.content %>">
			<input type="hidden" name="user_id" value="<%= session[:user_id] %>">
			<input type="submit" value="Peep it!">
	</form>
<% end %>