<a href="users/new">Sign Up</a>

<form action='/sign_in' method="post">
	Sign In<br>
	Username<input type="text" name="username">
	Password<input type="password" name="password">
	<input type="submit" value="Sign In" name="Sign In">
</form>

<% if current_user %>
	Welcome <%= current_user.name %>
	<form action="/sign_out" method="post">
		<input type="submit" value="Sign Out" name="Sign Out">
	</form>
<% end %>

<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>