html, body { 
	margin-left: 0px; 
	padding: 0px; 
	border: 0px; 
	margin-top: 0px;
	margin-right: 0px; 
}


.top_nav_bar {
	background-color: White;
	height: 3em;
	border-bottom-color: #78A3B8;
	border-bottom-width: 2px;
	border-bottom-style: Solid;
	margin-bottom: 1em;
}

.top_nav_bar #logo {
	height: 55%;
	margin-left: 5%;
	margin-top: 0.65em;
}

body {
	background-image: url("/images/chitterheader.png");
	background-repeat: repeat-x;
	background-color: #C0DEED;
	font-family: 'Helvetica Neue';
}

.sign_in {
	float: right;
	width: 80%;
	margin-left: 5%;
	margin-top: 0.5em;
}

.peep_list {
	background-color: White;
	float: right;
	width: 49%;
	margin-right: 12%;
	padding: 0.5%;
	border: 1px solid;
	border-color: #E1E8ED;
  border-radius: 5px;
}

.peep_list h3 {
	font-size: 22pt;
	font-weight: 300;
	color: #6F757F;
}

.sign_up {
	width: 23%;
	background-color: White;
	margin-left: 12%;
	float: left;
	padding-left: 1%;
	height: 14em;
	border: 1px solid;
	border-color: #E1E8ED;
  border-radius: 5px;
}

.user_info {
	width: 23%;
	background-color: White;
	margin-left: 12%;
	float: left;
	padding-left: 1%;
	height: 14em;
	border: 1px solid;
	border-color: #E1E8ED;
  border-radius: 5px;
}

