html, body { 
	margin-left: 0px; 
	padding: 0px; 
	border: 0px; 
	margin-top: 0px;
	margin-right: 0px; 
}

.top_nav_bar {
	background-color: White;
	height: 3em;
	border-bottom-color: #78A3B8;
	border-bottom-width: 2px;
	border-bottom-style: Solid;
	margin-bottom: 1em;
}

.top_nav_bar #logo {
	height: 55%;
	margin-left: 5%;
	margin-top: 0.65em;
}

body {
	background-image: url("/images/chitterheader.png");
	background-repeat: repeat-x;
	background-color: #C0DEED;
}

.peep_list {
	background-color: White;
	float: right;
	width: 50%;
	margin-right: 5%;
	padding: 0.5%;
	border: 2px solid;
	border-color: #E1E8ED;
  border-radius: 5px;
}

.sign_in {
	float: right;
	width: 80%;
	margin-left: 5%;
	margin-top: 0.5em;
}

.sign_up {
	width: 30%;
	background-color: White;
	margin-left: 5%;
	float: left;
	padding: 1%;
	height: 25%;
	border: 2px solid;
	border-color: #E1E8ED;
  border-radius: 5px;
}

.user_info {
	width: 30%;
	background-color: White;
	margin-left: 5%;
	float: left;
	padding: 1%;
	height: 30%;
	border: 2px solid;
	border-color: #E1E8ED;
  border-radius: 5px;
}

