<h3>Peeps</h3>
<section id='peep_list'>
	<template id='peeps'>
	 <article class='peep'>
	 	<header>
	 		<img id='profile' src='/images/ycprofile.jpeg'>
	 		<h1>{{peep_name}}</h1>
	 		<h2>@{{peep_username}}</h2>
	 	</header>
	 		<p id="content">{{peep_content}}</p>
	 </article>
	</template>
</section>

